# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
tsconfig.tsbuildinfo

# Exclude sourcemaps
*.map

# obsidian
main.js
!example/.obsidian/plugins/dist/main.js

# Exclude macOS Finder (System Explorer) View States
.DS_Store

*.log
